---
import '../styles/global.css';
import { Navbar } from '../components/layout/Navbar.tsx';
import { Footer } from '../components/layout/Footer.tsx';
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <Navbar client:only="react" />
      <main class="flex-1 pt-[72px]">
        <slot />
      </main>
      <Footer client:only="react" />
    </div>
  </body>
</html>
